*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 150PX;
  background-color: #ffffff;;
}
/* TelosSuite */
h1,
#TelosSuite{

  width: 422px;
  height: 60px;
  left: 207px;
  top: 10px;
  
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(218, 20, 103, 0.85);
  }

/*LOGO TELOSSUITE https://iconos8.es/icon/yPK5jE9e0UVd/casa*/
#casaLogo{
  /* image 32 */

position: absolute;
width: 81px;
height: 75px;

background: url(https://iconos8.es/icon/yPK5jE9e0UVd/casa*/);

}

#logo{

width: 422px;
height: 70px;
left: 207px;
top: 106px;

font-family: 'JejuMyeongjo';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-decoration: none;
color: rgba(218, 20, 103, 0.85);
}
/*letras login , registro*/
a{

  text-align: center;
  cursor: pointer;
  padding: 10px;
  
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  color: rgba(218, 20, 103, 0.85);
  }

/* Rectangle 53 */
body{/* Rectangle 53 */



background: #E8DAE1;
}




/* Rectangle 64 */


